* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header */
.header {
    background-color: #FFF2F3;
    border-bottom: 1px solid #ddd;
    padding: 1rem 190px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
}

.header__nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.header__nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.header__nav-link {
    color: #333;
    font-size: 14px;
    font-weight: 700;
}

.header__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.header__actions--login {
    color: #96BB7C;
    font-size: 14px;
    font-weight: 700;
}

.header__actions--join {
    display: flex;
    gap: 12px;
    background-color: #96BB7C;
    padding: 15px 25px;
    border-radius: 5px;
}

.header__actions--join>a {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #ffffff;
}

.body__content {
    padding-left: 190px;
    padding-right: 190px;
}

/* Team Section */
.team {
    background-color: #ffffff;
    padding-top: 24px;
    padding-bottom: 38px;
}

.team__induction {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}

.team__induction--team {
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
    color: #96BB7C
}

.team__container {
    max-width: 1200px;
    margin: 0 auto;
}

.team__title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.team__description {
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    margin: 0;
}

.team__members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.team__member {
    background-color: #f8f9fa;
    border-radius: 20px;
    flex: 1;
    height: fit-content;
    text-align: center;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.team__photo {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.team__detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 30px 0;
}

.team__detail>p {
    margin: 0;
}

.team__name {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.team__profession {
    font-size: 12px;
    line-height: 16px;
    color: #999;
}

.team__social {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.team__social-link {
    font-size: 23px;
    color: rgba(150, 187, 124, 1);
}

/* Footer */
.footer {
    background-color: #f8f9fa;
    padding: 2rem 2rem;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.footer__info {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer__column {
    flex: 1;
}

.footer__title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer__list {
    list-style: none;
    padding-left: 0;
}

.footer__item {
    margin-bottom: 0.5rem;
}

.footer__link {
    text-decoration: none;
    color: #333;
}

.footer__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}

.footer__copy {
    font-size: 1rem;
    color: #666;
}

.footer__social {
    display: flex;
    gap: 1rem;
}

.footer__social-link {
    font-size: 1.2rem;
    color: #96BB7C
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .header {
        padding-left: 100px;
        padding-right: 100px;
    }

    .packages__container {
        flex-direction: column;
    }

    .packages__image,
    .packages__content {
        width: 100%;
    }

    .body__content {
        padding-left: 100px;
        padding-right: 100px;
    }

    .team__detail {
        padding: 15px 0;
        gap: 5px;
    }

    .team__name {
        font-size: 12px;
    }

    .team__social {
        gap: 12px;
    }

    .team__social-link {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .header {
        padding-left: 80px;
        padding-right: 80px;
    }

    .body__content {
        padding-left: 80px;
        padding-right: 80px;
    }

    .team__member {
        border-radius: 10px;
    }

    .team__photo {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .team__name {
        font-size: 12px;
    }

    .team__profession {
        font-size: 10px;
    }

    .team__social {
        gap: 8px;
    }

    .team__social-link {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .header {
        padding-left: 80px;
        padding-right: 80px;
    }

    .header__nav,
    .header__actions {
        display: none;
    }

    .header__logo {
        font-size: 32px;
    }

    .body__content {
        padding-left: 80px;
        padding-right: 80px;
    }

    .team__induction--team {
        font-size: 16px;
    }

    .team__description {
        font-size: 16px;
    }

    .team__title {
        font-size: 32px;
    }

    .team__detail {
        gap: 10px;
    }

    .team__member {
        flex: auto;
    }

    .team__photo {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .team__name {
        font-size: 20px;
    }

    .team__profession {
        font-size: 18px;
    }

    .team__social {
        gap: 10px;
    }

    .team__social-link {
        font-size: 20px;
    }

    .footer__info {
        flex-direction: column;
    }

    .footer__title {
        font-size: 24px;
    }

    .footer__link {
        font-size: 18px;
    }

    .footer__bottom {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
}